---

name: Slack Notify

on:
  workflow_call:
    inputs:
      repo:
        type: string
        required: true
      run_id:
        type: string
        required: true
      workflow:
        type: string
        required: true
    secrets:
      SLACK_WEBHOOK_URL:
        required: true

jobs:
  notify:
    runs-on: ubuntu-latest
    env:
      REPO: ${{ inputs.repo }}
      RUN_ID: ${{ inputs.run_id }}
      WORKFLOW: ${{ inputs.workflow }}
    steps:
      - name: Post to Slack
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_USERNAME: GitHub Actions
          SLACK_COLOR: failure
          SLACK_TITLE: "${{ env.REPO }} ${{ env.WORKFLOW }} Failed"
          MSG_MINIMAL: true
          SLACK_MESSAGE: "Run: https://github.com/${{ env.REPO }}/actions/runs/${{ env.RUN_ID }}"
