---

name: Slack Notify

on:
  workflow_call:
    inputs:
      repo:
        type: string
        required: true
      run_id:
        type: string
        required: true
      workflow:
        type: string
        required: true
      job:
        type: string
        required: false
    secrets:
      SLACK_WEBHOOK_URL:
        required: true

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Post to Slack
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_USERNAME: GitHub Actions
          SLACK_COLOR: failure
          SLACK_TITLE: "${{ env.WORKFLOW }} / ${{ env.JOB }} Failed"
          MSG_MINIMAL: true
          SLACK_MESSAGE: "Run: https://github.com/${{ env.REPO }}/actions/runs/${{ env.RUN_ID }}"
