---

name: Slack Notify

on:
  workflow_call:
    inputs:
      title:
        description: "Title shown in Slack"
        required: false
        type: string
        default: "${{ github.workflow }} / ${{ github.job }} Failed"
      message:
        description: "Extra message text"
        required: false
        type: string
        default: ""
    secrets:
      SLACK_WEBHOOK_URL:
        required: true

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send Slack Notification on Failure
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_USERNAME: GitHub Actions
          SLACK_COLOR: failure
          SLACK_TITLE: ${{ inputs.title }}
          MSG_MINIMAL: true
          SLACK_MESSAGE: "Repo: ${{ github.repository }} | Branch: ${{ github.ref }} | Commit: ${{ github.sha }} | Workflow: ${{ github.workflow }} | Job: ${{ github.job }} | Run: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"

