---

name: Slack Notify

on:
  workflow_run:
    workflows: ["*"]
    types: [completed]

jobs:
  notify:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - name: Send Slack Notification on Failure
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_USERNAME: GitHub Actions
          SLACK_COLOR: failure
          SLACK_TITLE: "${{ github.workflow }}/{{ github.job }} Failed"
          MSG_MINIMAL: true
          SLACK_MESSAGE: "Repo: ${{ github.repository }} | Branch: ${{ github.ref }} | Commit: ${{ github.sha }} | Workflow: ${{ github.workflow }} | Job: ${{ github.job }} | Run: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"

